<div id="<%= dom_id request %>">
  <p>
    <strong>Name:</strong>
    <%= request.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= request.date %>
  </p>

  <p>
    <strong>Practice:</strong>
    <%= request.practice_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= request.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= request.last_name %>
  </p>

  <p>
    <strong>Mobile:</strong>
    <%= request.mobile %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= request.email %>
  </p>

  <p>
    <strong>Subscriber:</strong>
    <%= request.subscriber %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= request.category_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= request.note %>
  </p>

  <p>
    <strong>Operator:</strong>
    <%= request.operator_id %>
  </p>

  <p>
    <strong>Processed:</strong>
    <%= request.processed %>
  </p>

  <p>
    <strong>Updater:</strong>
    <%= request.updater %>
  </p>

  <p>
    <strong>Unprocessable:</strong>
    <%= request.unprocessable %>
  </p>

  <p>
    <strong>Unprocessable reason:</strong>
    <%= request.unprocessable_reason %>
  </p>

  <p>
    <strong>First call:</strong>
    <%= request.first_call %>
  </p>

  <p>
    <strong>Second call:</strong>
    <%= request.second_call %>
  </p>

  <p>
    <strong>Third call:</strong>
    <%= request.third_call %>
  </p>

  <p>
    <strong>First call date:</strong>
    <%= request.first_call_date %>
  </p>

  <p>
    <strong>Second call date:</strong>
    <%= request.second_call_date %>
  </p>

  <p>
    <strong>Third call date:</strong>
    <%= request.third_call_date %>
  </p>

  <p>
    <strong>First call updater:</strong>
    <%= request.first_call_updater %>
  </p>

  <p>
    <strong>Second call updater:</strong>
    <%= request.second_call_updater %>
  </p>

  <p>
    <strong>Third call updater:</strong>
    <%= request.third_call_updater %>
  </p>

</div>
