<div class="col">
  <p class="mb-3">
    <%= image_tag("request_index_logo.svg", class: "img-fluid") %>
  </p>
  <!-- SEARCH -->
  <%= search_form_for @q, class: 'd-flex flex-row align-items-center flex-wrap' do |form| %>
    <div class='form-row align-items-center'>
      <div class="input-group">
        <span class="input-group-text input-group-text-fixed text-primary">
          <i class="fa-solid fa-user"></i>
          &nbsp;&nbsp;
          <%= form.label :first_name %>
        </span>
        <%= form.search_field :last_name_or_mobile_cont, placeholder: 'Cognome o Telefono contiene', class: 'form-control' %>
      </div>
    </div>
    &nbsp;&nbsp;
    <div class='form-row align-items-center'>
      <div class="input-group">
        <span class="input-group-text input-group-text-fixed text-primary">
          <i class='fas fa-file-contract'></i>
          &nbsp;&nbsp;
          <%= form.label :practice_id %>
        </span>
        <%= form.search_field :practice_name_cont, placeholder: 'Tipo Pratica contiene', class: 'form-control' %>
      </div>
    </div>
    &nbsp;&nbsp;
    <%= button_tag(type: 'submit', class: 'btn btn-outline-primary') do %>
      <strong>
        <i class='fas fa-search'></i>&nbsp;&nbsp;Cerca
      </strong>
    <% end %>
  <% end %>
  <!-- /SEARCH -->
  <hr class="hr-primary"/>
  <table class="table table-hover">
    <thead>
      <th class="text-primary">
        <i class="fa-solid fa-arrow-up-9-1"></i>
        &nbsp;
        Numero
      </th>
      <th class="text-primary">
        <i class="fa-solid fa-calendar-day"></i>
        &nbsp;
        Data
      </th>
      <th class="text-primary">
        <i class="fa-solid fa-user"></i>
        &nbsp;
        Utente
      </th>
      <th class="text-primary">
        <i class="fa-solid fa-mobile-screen"></i>
        &nbsp;
        Cellulare
      </th>
      <th class="text-primary">
        <i class="fa-solid fa-file-lines"></i>
        &nbsp;
        Pratica
      </th>
      <th class="text-primary">
        <i class="fa-solid fa-file-signature"></i>
        &nbsp;
        Sottoscrittore
      </th>
      <th class="text-primary">
        <i class="fa-solid fa-phone-volume"></i>
        &nbsp;
        Chiamate
      </th>
      <th colspan=2></th>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr class="<%= processed(request) %>">
          <td>
            <div class="d-grid">
              <% unless request.note == nil || request.note.blank? %>
                <%= link_to request_path(request), "data-controller": "turbo", "data-bs-toggle": "tooltip", 
            "title": "Visualizza Dettaglio", class: "btn btn-outline-secondary btn-sm" do %>
                  <strong>
                    <%= request.name %>
                  </strong>
                  &nbsp;
                  <span class="float-start">
                    <i class="fa-solid fa-clipboard-list"></i>
                  </span>
                <% end %>
              <% else %>
                <%= link_to request_path(request), "data-controller": "turbo", "data-bs-toggle": "tooltip", 
            "title": "Visualizza Dettaglio", class: "btn btn-outline-secondary btn-sm" do %>
                  <%= request.name %>
                <% end %>
              <% end %>
            </div>
          </td>
          <td><%= l(request.date) %></td>
          <td><%= customer(request) %></td>
          <td><%= request.mobile %></td>
          <td><%= request&.practice.name %></td>
          <td>
            <%= is_subscriber(request) %>
          </td>
          <td>
            <%= call_display(request) %>
          </td>
          <td>
            <%= link_to edit_request_path(request), "data-controller": "turbo" , 
            "data-bs-toggle": "tooltip", 
            "title": "Modifica il Record Corrente" do %>
              <i class="fa-solid fa-pen-to-square text-warning"></i>
            <% end %>
          </td>
          <td>
            <% if no_caaf_operator %>
              <% if deleteable(request) %>
                <i class="fa-solid fa-trash text-light"></i>
              <% else %>
                <%= link_to request_path(request),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , 
            "data-bs-toggle": "tooltip", 
            "title": "Elimina il Record Corrente" do%>
                  <i class="fa-solid fa-trash text-danger"></i>
                <% end %>
              <% end%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <br>
  <%= paginate @requests %>
</div>
